name: Build images

on:
  push:
    paths:
      - config/**/profiles.json
  workflow_dispatch:
    inputs:
      mirror: 
        type: choice
        required: true
        default: https://downloads.openwrt.org
        options: 
          - https://downloads.openwrt.org
          - https://mirrors.hit.edu.cn/openwrt
      version:
        type: string
        description: "version: 24.10.2"
      targets:
        type: string
        description: "targets: x86/64 rockchip/armv8"

jobs:
  build:
    uses: czy21/share/.github/workflows/openwrt-build-image.yml@main
    with: 
      mirror: ${{ inputs.mirror || 'https://mirrors.hit.edu.cn/openwrt' }}
      version: ${{ inputs.version }}
      targets: ${{ inputs.targets }}

    