name: Build packages

on:
  push:
    paths:
      - luci/**
      - package/**
  workflow_dispatch:
    inputs:
      mirror: 
        type: choice
        required: true
        default: https://downloads.openwrt.org
        options: 
          - https://downloads.openwrt.org
          - https://mirrors.hit.edu.cn/openwrt
      packages:
        type: string
        description: "packages: adguardhome dnsproxy"
      debug:
        type: boolean
        default: false
jobs:
  build:
    uses: czy21/share/.github/workflows/openwrt-build-package.yml@main
    with: 
      mirror: ${{ inputs.mirror || 'https://downloads.openwrt.org' }}
      packages: ${{ inputs.packages }}
      debug: ${{ inputs.debug || false }}
